.container {
	width: 100%;
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	padding: 80px 0;
	align-items: center;
	overflow: hidden;
	.content {
		width: 90%;
		.heading {
			//uppercase
			font-size: 1.7rem;
			width: 300px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 6px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: linear-gradient(to right, rgb(64, 64, 64), rgb(21, 21, 21));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			border: 3px solid;
			border-image-slice: 1;
			border-image-source: linear-gradient(
				to right,
				rgb(64, 64, 64),
				rgb(21, 21, 21)
			);
			margin: 0 auto;
			margin-bottom: 40px;
		}

		.projectContainer {
			display: flex;
			flex-direction: column;
			gap: 40px;
			justify-content: center;
			align-items: center;
			margin-top: 30px;
			width: 100%;
			.project {
				width: 100%;
				text-decoration: none;
				// color: #232323;
				display: flex;
				flex-direction: row;
				gap: 20px;
				// justify-content: space-between;

				.projectContent {
					width: 50%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					h1 {
						a {
							text-decoration: none;
							color: #232323;
							transition: all 0.3s ease-in-out;
						}
					}
					.projectDescription {
						margin-top: 10px;
						font-size: 1.2rem;
						font-weight: 500;
						color: rgb(116, 116, 116);
						text-align: justify;
					}
					.links {
						width: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 50px;
						gap: 20px;
						margin-top: 10px;
						a {
							width: 30px;
							height: 30px;
							img {
								width: 30px;
								height: 30px;
								object-fit: contain;
							}
						}
					}
				}
				.projectImageContainer {
					width: 50%;
					display: flex;
					justify-content: center;
					.projectImage {
						border: 2px solid #232323;
						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
							transform: translate(-20px, 20px);
							transition: all 0.3s ease-in-out;
						}
						:hover {
							transform: translate(-20px, -20px);
							scale: 1.1;
						}
					}
				}
			}
			:nth-child(even) {
				flex-direction: row-reverse;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.heading {
		font-size: 1.3rem !important;
		width: 250px !important;
	}
	.container {
		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.projectContainer {
				width: 80%;

				.project {
					flex-direction: column;
					.projectContent {
						width: 100%;
						h1 {
							font-size: 1.5rem;
						}
						.projectDescription {
							font-size: 1rem;
						}
						.links {
							width: 100%;
							a {
								width: 20px;
								height: 20px;
								img {
									width: 20px;
									height: 20px;
								}
							}
						}
					}
					.projectImageContainer {
						width: 100%;
						display: flex;
						justify-content: center;
						.projectImage {
							border: 2px solid #232323;
							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
								transform: translate(-20px, 20px);
								transition: all 0.3s ease-in-out;
							}
							:hover {
								transform: translate(-20px, -20px);
								scale: 1.1;
							}
						}
					}
				}
			}
		}
	}
}
