.container {
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 30px;
	height: 300px;
	width: 95%;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to right, rgb(64, 64, 64), rgb(21, 21, 21));
	padding-top: 30px;
	overflow: hidden;
	white-space: nowrap;
	.title {
		//uppercase
		font-size: 1.7rem;
		width: 300px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgb(228, 228, 228);
		border: 2px solid rgb(228, 228, 228);
		margin-left: 30px;
		margin-bottom: 40px;
	}

	.marquee1 {
		overflow: hidden;
		white-space: nowrap;
		display: flex;
		width: 100%;
		position: relative;

		.skill {
			width: 100px;
			position: relative;
			left: 100%;
			animation: marquee 8s linear infinite;
			img {
				width: 100px;
			}
		}
	}
	@keyframes marquee {
		0% {
			left: 100%;
		}
		100% {
			left: -100%;
		}
	}
	:hover {
		animation-play-state: paused;
	}
}
