.container {
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 30px;
	width: 95%;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	overflow: hidden;
	white-space: nowrap;
	.title {
		//uppercase
		font-size: 1.7rem;
		width: 300px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to right, rgb(64, 64, 64), rgb(21, 21, 21));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		border: 3px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(
			to right,
			rgb(64, 64, 64),
			rgb(21, 21, 21)
		);
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.skillsContainer {
		display: flex;

		flex-wrap: wrap;
		width: 100%;
		justify-content: space-around;
		margin-top: 30px;
		.skill {
			width: 250px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 70px;
			img {
				width: 100px;
				margin-bottom: 10px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.title {
		font-size: 1.3rem !important;
		width: 250px !important;
	}
	.skill {
		width: 100px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 70px;
		img {
			width: 60px !important;
		}
	}
}
