.navbar {
	background-color: rgb(30, 30, 30);
	color: rgb(116, 116, 116);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.logoContainer {
		display: flex;
		align-items: center;
		justify-content: center;

		.logo {
			width: 50px;
			height: 50px;
			margin-right: 10px;
			border: 2px solid white;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.3rem;
			color: white;
		}
		.logoText {
			font-size: 1.3rem;
			color: white;
		}
	}
	.navLinks {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-right: 20px;
		a {
			color: rgb(201, 201, 201);
			text-decoration: none;
			font-size: 1.2rem;
			position: relative;
			display: inline-block;
			&:hover {
				color: white;
				transition: all 0.2s ease-in-out;
			}

			&::after {
				content: "";
				position: absolute;
				width: 0;
				height: 2px;
				background: white;
				transition: width 0.3s;
				bottom: 0;
				left: 0;
				margin-top: 5px;
			}
			&:hover::after {
				width: 100%;
				left: 0;
			}
		}
	}
}
